<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img [src]="tienda2.urlLogo" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{total}}</span>
                  <span class="description">Productos</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Pedidos</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div *ngIf="isLoading === false; else preload" class="text-center">
              <h3>
                {{tienda2.nombre}}
               </h3>
               <div class="h5 font-weight-300">
                 <i class="ni location_pin mr-2"></i>{{tienda2.direccion}}
               </div>
               <div class="h5 mt-4">
                 <i class="ni business_briefcase-24 mr-2"></i>{{tienda2.telefono}}
               </div>
               <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{tienda2.email}}
              </div>
            </div>
            <ng-template #preload>
              <div class="text-center bg-white preloader" >
                <img src="./assets/img/theme/preload.gif" alt="" width="200">
              </div>
            </ng-template>
            <hr class="my-4" />
            <a [routerLink]="['/admin/productos']">Ir a mis productos</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi cuenta</h3>
            </div>
            <div class="col-4 text-right">
              <button (click)="saveFake()" class="btn btn-sm btn-primary">Editar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form >
            <h6 class="heading-small text-muted mb-4">Información de la Tienda</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nombre</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" [(ngModel)]="tienda.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Correo Contacto</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" [(ngModel)]="tienda.email" [ngModelOptions]="{standalone: true}" placeholder="jesse@example.com">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Información de Contacto</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Teléfono</label>
                    <input id="input-address" class="form-control form-control-alternative" [(ngModel)]="tienda.telefono" [ngModelOptions]="{standalone: true}" placeholder="Teléfono" type="text">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Direccion</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="tienda.direccion" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Foto de perfil</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <br>
                <div class="input-f-custom">
                  <button class="btn btn-default">Subir imagen</button>
                  <input type='file' accept='image/*' (change)="imageChange($event.target.files)" multiple>
                </div>
                <div class="row px-3">
                  <div class="col-6 text-center mt-2">
                    <div class="image-card">
                      <div class="image-space">
                        <img [src]="imageUrl" class="galery"/>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<textarea rows="4" ngModel (ngModelChange)="toArray($event)" class="form-control form-control-alternative" placeholder="Urls de las imagenes separadas de un 'enter'" required></textarea>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
